<section id="header">
  <div class="container">
    <div class="row">
      <br>
      <div class="col-lg-12 text-center">
        <img class="img-responsive mauto shadowed-w transp cncclogo" src="https://s3.amazonaws.com/myfangate.com/cncctour/cncclogo.png">
      </div>
      <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0 text-center highlighter">
        <div class="highlighter-text">
          <h1 class="transp yellow-shadow">get lost, find yourself</h1>
          <h1 class="transp yellow-shadow">tour 2015</h1>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <h2 class="text-shadow">FEATURING</h2>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 support">
        <img class="img-responsive mauto shadowed-w transp" src="https://s3.amazonaws.com/myfangate.com/cncctour/hitthelights.png">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 support">
        <img class="img-responsive mauto shadowed-w transp" src="https://s3.amazonaws.com/myfangate.com/cncctour/fcc.png">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 support">
        <img class="img-responsive mauto shadowed-w transp" src="https://s3.amazonaws.com/myfangate.com/cncctour/tothewind.png">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 support">
        <img class="img-responsive mauto shadowed-w transp" src="https://s3.amazonaws.com/myfangate.com/cncctour/inherownwords.png">
      </div>
    </div>
  </div>
  <div class="tear shadowed"></div>
</section>
