<!-- Update your html tag to include the itemscope and itemtype attributes. -->
<html itemscope itemtype="http://schema.org/Type">

<!-- Place this data between the <head> tags of your website -->
<title>Get Lost, Find Yourself Tour 2015</title>
<meta name="description" content="Enter to win " />

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="Get Lost, Find Yourself Tour 2015 | WIN COOL PRIZES FROM THE TOUR!">
<meta itemprop="description" content="WIN COOL PRIZES FROM THE TOUR!">
<meta itemprop="image" content="https://s3.amazonaws.com/myfangate.com/asitis-video/asitisshare.jpg">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@asitisofficial">
<meta name="twitter:title" content="As It Is | WIN THE ROBOT HEADS FROM THE
CHEAP SHOTS & SETBACKS MUSIC VIDEO!">
<meta name="twitter:description" content="WIN THE ROBOT HEADS FROM THE
CHEAP SHOTS & SETBACKS MUSIC VIDEO!">
<meta name="twitter:creator" content="@asitisofficial">
<meta name="twitter:image" content="https://s3.amazonaws.com/myfangate.com/asitis-video/asitisshare.jpg">

<!-- Open Graph data -->
<meta property="og:title" content="As It Is | WIN THE ROBOT HEADS FROM THE
CHEAP SHOTS & SETBACKS MUSIC VIDEO!" />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://www.asitisofficial.com/" />
<meta property="og:image" content="https://s3.amazonaws.com/myfangate.com/asitis-video/asitisshare.jpg" />
<meta property="og:description" content="WIN THE ROBOT HEADS FROM THE
CHEAP SHOTS & SETBACKS MUSIC VIDEO!" />
<meta property="og:site_name" content="As It Is Official" />
