<br>
<section id="dates">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="whiteglowtxt">TOUR DATES</h1>
      </div>
      <div class="col-lg-10 col-lg-offset-1">
        <div class="divider"></div>
      </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <ul>

            <li>
              <div>
                <span class="date clearfix"><strong>5/06 | Fort Worth, TX</strong></span>
                <span class="ticket">
                  <a href="https://www.ticketfly.com/purchase/event/808773" target="_blank"><button class="btn btn-default clearfix">TICKETS</button></a>
                </span>
              </div>
            </li>

            <li>
              <div>
                <span class="date clearfix"><strong>5/07 | Houston, TX</strong></span>
                <span class="ticket">
                  <a href="https://www.ticketfly.com/purchase/event/808779" target="_blank"><button class="btn btn-default clearfix">TICKETS</button></a>
                </span>
              </div>
            </li>

            <li>
              <div>
                <span class="date clearfix"><strong>5/08 | San Antonio, TX</strong></span>
                <span class="ticket">
                  <a href="https://www.ticketfly.com/purchase/event/808265" target="_blank"><button class="btn btn-default clearfix">TICKETS</button></a>
                </span>
              </div>
            </li>

            <li>
              <div>
                <span class="date clearfix"><strong>5/09 | Austin, TX</strong></span>
                <span class="ticket">
                  <a href="https://www.ticketfly.com/purchase/event/808767" target="_blank"><button class="btn btn-default clearfix">TICKETS</button></a>
                </span>
              </div>
            </li>

            <li>
              <div>
                <span class="date clearfix"><strong>5/11 | Atlanta, GA</strong></span>
                <span class="ticket">
                  <a href="http://www.masqueradeatlanta.com/events/chunk-nocaptain-chunk" target="_blank"><button class="btn btn-default clearfix">TICKETS</button></a>
                </span>
              </div>
            </li>

            <li>
              <div>
                <span class="date clearfix"><strong>5/12 | Jacksonville, FL</strong></span>
                <span class="ticket">
                  <a href="https://www.ticketfly.com/purchase/mobile/index/783103" target="_blank"><button class="btn btn-default clearfix">TICKETS</button></a>
                </span>
              </div>
            </li>

            <li>
              <div>
                <span class="date clearfix"><strong>5/13 | Greensboro, NC</strong></span>
                <span class="ticket">
                  <a href="http://www.ticketmaster.com/event/0E004E6EC3CC43E8" target="_blank"><button class="btn btn-default clearfix">TICKETS</button></a>
                </span>
              </div>
            </li>

            <li>
              <div>
                <span class="date clearfix"><strong>5/14 | Richmond, VA</strong></span>
                <span class="ticket">
                  <a href="http://www.thecanalclub.com/online_ticket_center.htm" target="_blank"><button class="btn btn-default clearfix">TICKETS</button></a>
                </span>
              </div>
            </li>

            <li>
              <div>
                <span class="date clearfix"><strong>5/15 | Amityville, NY</strong></span>
                <span class="ticket">
                  <a href="https://www.ticketfly.com/purchase/event/807903" target="_blank"><button class="btn btn-default clearfix">TICKETS</button></a>
                </span>
              </div>
            </li>

            <li>
              <div>
                <span class="date clearfix"><strong>5/16 | Asbury Park, NJ</strong></span>
                <span class="ticket">
                  <a href="https://www.ticketfly.com/purchase/event/793365/" target="_blank"><button class="btn btn-default clearfix">TICKETS</button></a>
                </span>
              </div>
            </li>

            <li>
              <div>
                <span class="date clearfix"><strong>5/17 | Worcester, MA</strong></span>
                <span class="ticket">
                  <a href="https://www.ticketfly.com/purchase/event/808869" target="_blank"><button class="btn btn-default clearfix">TICKETS</button></a>
                </span>
              </div>
            </li>

            <li>
              <div>
                <span class="date clearfix"><strong>5/18 | Montreal, Canada</strong></span>
                <span class="ticket">
                  <a href="http://tickets-ca.ticketfly.com/event/ChunkNoCaptainChunk" target="_blank"><button class="btn btn-default clearfix">TICKETS</button></a>
                </span>
              </div>
            </li>

            <li>
              <div>
                <span class="date clearfix"><strong>5/19 | Toronto, Canada</strong></span>
                <span class="ticket">
                  <a href="https://www.ticketfly.com/purchase/event/810823" target="_blank"><button class="btn btn-default clearfix">TICKETS</button></a>
                </span>
              </div>
            </li>

            <li>
              <div>
                <span class="date clearfix"><strong>5/21 | Cleveland, OH</strong></span>
                <span class="ticket">
                  <a href="http://www.ticketweb.com/t3/sale/SaleEventDetail?dispatch=loadSelectionData&eventId=5734895" target="_blank"><button class="btn btn-default clearfix">TICKETS</button></a>
                </span>
              </div>
            </li>

            <li>
              <div>
                <span class="date clearfix"><strong>5/22 | Indianapolis, IN</strong></span>
                <span class="ticket">
                  <a href="http://theticketrumba.com/tickets/2710" target="_blank"><button class="btn btn-default clearfix">TICKETS</button></a>
                </span>
              </div>
            </li>

            <li>
              <div>
                <span class="date clearfix"><strong>5/23 | Howell, MI</strong></span>
                <span class="ticket">
                  <a href="https://www.fusionshows.com/tickets/05-23-15/bled-fest-2015-hartland-performing-arts-center-howell-mi" target="_blank"><button class="btn btn-default clearfix">TICKETS</button></a>
                </span>
              </div>
            </li>

            <li>
              <div>
                <span class="date clearfix"><strong>5/24 | Joliet, IL</strong></span>
                <span class="ticket">
                  <a href="http://theticketrumba.com/tickets/2711" target="_blank"><button class="btn btn-default clearfix">TICKETS</button></a>
                </span>
              </div>
            </li>

            <li>
              <div>
                <span class="date clearfix"><strong>5/26 | Denver, CO</strong></span>
                <span class="ticket">
                  <a href="http://www.ticketweb.com/t3/sale/SaleEventDetail?dispatch=loadSelectionData&eventId=5733225&pl=marquis" target="_blank"><button class="btn btn-default clearfix">TICKETS</button></a>
                </span>
              </div>
            </li>

            <li>
              <div>
                <span class="date clearfix"><strong>5/27 | Salt Lake City, UT</strong></span>
                <span class="ticket">
                  <a href="http://smithstix.com/events/item/root/chunk-no-captain-chunk-may-27" target="_blank"><button class="btn btn-default clearfix">TICKETS</button></a>
                </span>
              </div>
            </li>

            <li>
              <div>
                <span class="date clearfix"><strong>5/28 | Seattle, WA</strong></span>
                <span class="ticket">
                  <a href="http://www.etix.com/ticket/p/3530199/chunkno-captain-chunk-seattle-el-corazon" target="_blank"><button class="btn btn-default clearfix">TICKETS</button></a>
                </span>
              </div>
            </li>

            <li>
              <div>
                <span class="date clearfix"><strong>5/29 | Portland, OR</strong></span>
                <span class="ticket">
                  <a href="http://www.takewarningpresents.com/event/808825" target="_blank"><button class="btn btn-default clearfix">TICKETS</button></a>
                </span>
              </div>
            </li>

            <li>
              <div>
                <span class="date clearfix"><strong>5/30 | Orangevale, CA</strong></span>
                <span class="ticket">
                  <a href="http://theboardwalk.queueapp.com/events/7000" target="_blank"><button class="btn btn-default clearfix">TICKETS</button></a>
                </span>
              </div>
            </li>

            <li>
              <div>
                <span class="date clearfix"><strong>5/31 | San Diego, CA</strong></span>
                <span class="ticket">
                  <a href="http://concerts.livenation.com/event/0A004E6D1C292BAE" target="_blank"><button class="btn btn-default clearfix">TICKETS</button></a>
                </span>
              </div>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
